In [1]:
#pip install xgboost

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
bigmart = pd.read_csv("C:/Users/MASI/Downloads/train.csv")

In [4]:
bigmart

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [5]:
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
bigmart.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [7]:
bigmart.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
bigmart.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [9]:
Item_Weight = bigmart.groupby('Item_Identifier')['Item_Weight'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)

# Define a function to replace null society values based on area_type
def replace_null_item_weight(row):
    if pd.isnull(row['Item_Weight']):
        return Item_Weight[row['Item_Identifier']]
    else:
        return row['Item_Weight']

# Apply the function to replace null society values
bigmart['Item_Weight'] = bigmart.apply(replace_null_item_weight, axis=1)

In [10]:
bigmart.isnull().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
bigmart["Outlet_Size"].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [12]:
bigmart["Outlet_Size"].value_counts(ascending=True)

High       932
Small     2388
Medium    2793
Name: Outlet_Size, dtype: int64

In [13]:
bigmart["Outlet_Identifier"]. unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [14]:
outlet = bigmart.drop_duplicates(subset=['Outlet_Identifier', 'Outlet_Size'])

In [15]:
outlet

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
7,FDP10,19.00,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
23,FDC37,15.50,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876

In [16]:
conditions = [
    (bigmart["Outlet_Identifier"] == "OUT049"),
    (bigmart["Outlet_Identifier"] == "OUT018"),
    (bigmart["Outlet_Identifier"] == "OUT010"),#assumption based on outlet type & identifier
    (bigmart["Outlet_Identifier"] == "OUT013"),
    (bigmart["Outlet_Identifier"] == "OUT027"),
    (bigmart["Outlet_Identifier"] == "OUT045"),#assumption based on outlet type & identifier
    (bigmart["Outlet_Identifier"] == "OUT017"),#assumption based on outlet type & identifier
    (bigmart["Outlet_Identifier"] == "OUT046"),
    (bigmart["Outlet_Identifier"] == "OUT035"),
    (bigmart["Outlet_Identifier"] == "OUT019")
]

# Corresponding 'Outlet_Size' values for each condition
values = ["Medium", "Medium", "Small", "High", "Medium", "High", "High", "Small", "Small", "Small"]

# Apply the conditions to create 'Outlet_Size'
bigmart['Outlet_Size'] = np.select(conditions, values, default='Unknown')

In [17]:
bigmart.isnull().sum()

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [18]:
bigmart.dropna(inplace=True)

In [19]:
bigmart.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [20]:
bigmart.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

<H1><B>DESCRIBING EACH COLUMNS</H1></B>

<H3><B> 1) ITEM IDENTIFIER </B></H3>

In [21]:
bigmart["Item_Identifier"].describe()

count      8519
unique     1555
top       FDG33
freq         10
Name: Item_Identifier, dtype: object

<h3><b> 2) ITEM WEIGHT </b></h3>

In [22]:
bigmart["Item_Weight"].describe()

count    8519.000000
mean       12.875420
std         4.646098
min         4.555000
25%         8.785000
50%        12.650000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

<h3><b> 3) ITEM FAT CONTENT </h3></b>

In [23]:
bigmart["Item_Fat_Content"].describe()

count        8519
unique          5
top       Low Fat
freq         5088
Name: Item_Fat_Content, dtype: object

In [24]:
bigmart["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [25]:
bigmart["Item_Fat_Content"].replace({'low fat': 'Low Fat'},inplace=True)
bigmart["Item_Fat_Content"].replace({'LF': 'Low Fat'},inplace=True)
bigmart["Item_Fat_Content"].replace({'reg': 'Regular'},inplace=True)

In [26]:
bigmart["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [27]:
bigmart["Item_Fat_Content"].value_counts(ascending=True)

Regular    3003
Low Fat    5516
Name: Item_Fat_Content, dtype: int64

<h3><b> 4) ITEM VISIBILITY </h3></b>

In [28]:
bigmart["Item_Visibility"].describe()

count    8519.000000
mean        0.066112
std         0.051586
min         0.000000
25%         0.026983
50%         0.053925
75%         0.094558
max         0.328391
Name: Item_Visibility, dtype: float64

<h3><b> 5) ITEM TYPE </h3></b>

In [29]:
bigmart["Item_Type"].describe()

count                      8519
unique                       16
top       Fruits and Vegetables
freq                       1232
Name: Item_Type, dtype: object

In [30]:
bigmart["Item_Type"].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [31]:
bigmart["Item_Type"].value_counts(ascending=True)

Seafood                    64
Breakfast                 110
Starchy Foods             148
Others                    169
Hard Drinks               214
Breads                    251
Meat                      425
Soft Drinks               445
Health and Hygiene        520
Baking Goods              647
Canned                    649
Dairy                     681
Frozen Foods              855
Household                 910
Snack Foods              1199
Fruits and Vegetables    1232
Name: Item_Type, dtype: int64

<h3> <b> 6) ITEM MRP </h3></b>

In [32]:
bigmart["Item_MRP"].describe()

count    8519.000000
mean      141.010019
std        62.283594
min        31.290000
25%        93.844900
50%       143.047000
75%       185.676600
max       266.888400
Name: Item_MRP, dtype: float64

<H3><B> 7) OUTLET IDENTIFIER </H3></B>

In [33]:
bigmart["Outlet_Identifier"].describe()

count       8519
unique        10
top       OUT013
freq         932
Name: Outlet_Identifier, dtype: object

In [34]:
bigmart["Outlet_Identifier"].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [35]:
bigmart["Outlet_Identifier"].value_counts(ascending=True)

OUT019    527
OUT010    555
OUT017    926
OUT018    928
OUT045    929
OUT049    930
OUT046    930
OUT035    930
OUT013    932
OUT027    932
Name: Outlet_Identifier, dtype: int64

<h3><b> 8) OUTLET ESTABLISHMENT YEAR <h3></b>

In [36]:
bigmart["Outlet_Establishment_Year"].describe()

count    8519.000000
mean     1997.837892
std         8.369105
min      1985.000000
25%      1987.000000
50%      1999.000000
75%      2004.000000
max      2009.000000
Name: Outlet_Establishment_Year, dtype: float64

In [37]:
bigmart["Outlet_Establishment_Year"] = bigmart["Outlet_Establishment_Year"].astype(str)

In [38]:
bigmart["Outlet_Establishment_Year"].describe()

count     8519
unique       9
top       1985
freq      1459
Name: Outlet_Establishment_Year, dtype: object

In [39]:
bigmart.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year     object
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [40]:
bigmart["Outlet_Establishment_Year"].value_counts(ascending=True)

1998     555
2007     926
2009     928
2002     929
1999     930
1997     930
2004     930
1987     932
1985    1459
Name: Outlet_Establishment_Year, dtype: int64

<H3><B> 9) OUTLET SIZE </H3></B>

In [41]:
bigmart["Outlet_Size"].describe()

count      8519
unique        3
top       Small
freq       2942
Name: Outlet_Size, dtype: object

In [42]:
bigmart["Outlet_Size"].unique()

array(['Medium', 'Small', 'High'], dtype=object)

In [43]:
bigmart["Outlet_Size"].value_counts(ascending=True)

High      2787
Medium    2790
Small     2942
Name: Outlet_Size, dtype: int64

<H3><B> 10) Outlet_Location_Type </H3></B>

In [44]:
 bigmart["Outlet_Location_Type"].describe()

count       8519
unique         3
top       Tier 3
freq        3347
Name: Outlet_Location_Type, dtype: object

In [45]:
bigmart["Outlet_Location_Type"].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [46]:
bigmart["Outlet_Location_Type"].value_counts(ascending=True)

Tier 1    2387
Tier 2    2785
Tier 3    3347
Name: Outlet_Location_Type, dtype: int64

<H3><B> 11) OUTLET TYPE </H3></B>

In [47]:
bigmart["Outlet_Type"].describe()

count                  8519
unique                    4
top       Supermarket Type1
freq                   5577
Name: Outlet_Type, dtype: object

In [48]:
bigmart["Outlet_Type"].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [49]:
bigmart["Outlet_Type"].value_counts(ascending=True)

Supermarket Type2     928
Supermarket Type3     932
Grocery Store        1082
Supermarket Type1    5577
Name: Outlet_Type, dtype: int64

In [50]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [51]:
bigmart['Item_Identifier'] = encoder.fit_transform(bigmart['Item_Identifier'])

bigmart['Item_Fat_Content'] = encoder.fit_transform(bigmart['Item_Fat_Content'])

bigmart['Item_Type'] = encoder.fit_transform(bigmart['Item_Type'])

bigmart['Outlet_Identifier'] = encoder.fit_transform(bigmart['Outlet_Identifier'])

bigmart['Outlet_Size'] = encoder.fit_transform(bigmart['Outlet_Size'])

bigmart['Outlet_Location_Type'] = encoder.fit_transform(bigmart['Outlet_Location_Type'])

bigmart['Outlet_Type'] = encoder.fit_transform(bigmart['Outlet_Type'])

In [52]:
bigmart

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.300,0,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,8,5.920,1,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,660,17.500,0,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,1117,19.200,1,0.000000,6,182.0950,0,1998,2,2,0,732.3800
4,1293,8.930,0,0.000000,9,53.8614,1,1987,0,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,369,6.865,0,0.056783,13,214.5218,1,1987,0,2,1,2778.3834
8519,893,8.380,1,0.046982,0,108.1570,7,2002,0,1,1,549.2850
8520,1353,10.600,0,0.035186,8,85.1224,6,2004,2,1,1,1193.1136
8521,679,7.210,1,0.145221,13,103.1332,3,2009,1,2,2,1845.5976
8522,50,14.800,0,0.044878,14,75.4670,8,1997,2,0,1,765.6700

<H3><B> SCALING </H3></B>

In [53]:
from sklearn.preprocessing import MinMaxScaler

In [54]:
scaler = MinMaxScaler()

In [55]:
bigmart_scaled = pd.DataFrame(scaler.fit_transform(bigmart), columns=bigmart.columns)

In [56]:
bigmart_scaled.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0.100386,0.282525,0.0,0.048866,0.266667,0.927507,1.000000,0.583333,0.5,0.0,0.333333,0.283587
1,0.005148,0.081274,1.0,0.058705,0.933333,0.072068,0.333333,1.000000,0.5,1.0,0.666667,0.031419
2,0.424710,0.770765,0.0,0.051037,0.666667,0.468288,1.000000,0.583333,0.5,0.0,0.333333,0.158115
3,0.718790,0.871986,1.0,0.000000,0.400000,0.640093,0.000000,0.541667,1.0,1.0,0.000000,0.053555
4,0.832046,0.260494,0.0,0.000000,0.600000,0.095805,0.111111,0.083333,0.0,1.0,0.333333,0.073651

<H3> TARGET VARIABLE</H3>

In [57]:
target_column = "Item_Outlet_Sales"

<H3> SPLITTING THE VARIABLES</H3>

In [58]:
x = bigmart_scaled.drop(columns=[target_column])
y = bigmart_scaled[target_column]

In [59]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=40)

<H3> IMPORTING THE MODEL </H3>

In [60]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
import xgboost
from xgboost import XGBRegressor
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [61]:
gbr = GradientBoostingRegressor(random_state=0)
xgb = xgboost.XGBRegressor(n_jobs=-1)
rf = RandomForestRegressor(n_jobs=-1)
ds = DecisionTreeRegressor()

In [62]:
# Dictionary to store models and their names
reg = {
"LinearRegression": LinearRegression(),
"KNeighborsRegressor":KNeighborsRegressor(n_neighbors=2),
"GradientBoostingRegressor":GradientBoostingRegressor(random_state=0),
"DecisionTreeRegressor": DecisionTreeRegressor(),
"RandomForestRegressor": RandomForestRegressor(n_jobs=-1),
"XGBRegressor":xgboost.XGBRegressor(n_jobs=-1)
}

In [63]:
# Function to evaluate model performance
dic =  {"Model":[],"R2_Score":[],"RMSE_Score":[]}
for name, model in reg.items():

   
  model.fit(train_x, train_y)
  y_pre = model.predict(test_x)
  r2 = r2_score(test_y, y_pre)
  rmse  = np.sqrt(mean_squared_error(test_y, y_pre))
  print("--------------------------------------------------------------")
  print("Model:", name)
  print("-----Data Evalution-----")
  print("R2 Value: ", r2_score(test_y, y_pre))
  print("RMSE: ",np.sqrt(mean_squared_error(test_y, y_pre)))
  dic["Model"].append(name)
  dic["R2_Score"].append(r2)
  dic["RMSE_Score"].append(rmse)

--------------------------------------------------------------
Model: LinearRegression
-----Data Evalution-----
R2 Value:  0.5127941146095791
RMSE:  0.09491738880405717
--------------------------------------------------------------
Model: KNeighborsRegressor
-----Data Evalution-----
R2 Value:  0.37769589465759923
RMSE:  0.10727310521805947
--------------------------------------------------------------
Model: GradientBoostingRegressor
-----Data Evalution-----
R2 Value:  0.5953682311974898
RMSE:  0.08650067729596626
--------------------------------------------------------------
Model: DecisionTreeRegressor
-----Data Evalution-----
R2 Value:  0.23736113462555775
RMSE:  0.11875420214656036
--------------------------------------------------------------
Model: RandomForestRegressor
-----Data Evalution-----
R2 Value:  0.5508263574491672
RMSE:  0.09113740346734456
--------------------------------------------------------------
Model: XGBRegressor
-----Data Evalution-----
R2 Value:  0.5122657657752405
RMSE:  0.09496884128491834

In [64]:
final_model = pd.DataFrame(dic)
final_model

                       Model  R2_Score  RMSE_Score
0           LinearRegression  0.512794    0.094917
1        KNeighborsRegressor  0.377696    0.107273
2  GradientBoostingRegressor  0.595368    0.086501
3      DecisionTreeRegressor  0.237361    0.118754
4      RandomForestRegressor  0.550826    0.091137
5               XGBRegressor  0.512266    0.094969

In [65]:
final_model.sort_values("RMSE_Score", axis = 0, ascending = True)

                       Model  R2_Score  RMSE_Score
2  GradientBoostingRegressor  0.595368    0.086501
4      RandomForestRegressor  0.550826    0.091137
0           LinearRegression  0.512794    0.094917
5               XGBRegressor  0.512266    0.094969
1        KNeighborsRegressor  0.377696    0.107273
3      DecisionTreeRegressor  0.237361    0.118754

<h3>Based on the above models  Gradient Boosting Regressor is Best suitable model for this dataset.</h3>